:host{
    
    
    font-size: 12px;
    color: darkgray;
     

    .item{
        border-bottom: 1px solid #e5e5e5;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;

    &:hover,&.active{
        background-color: #e5e5e5;
    }

    h4{
        font-size: 16px;
        color: black;

    }
    p{
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}


}