<div class="header">
  <h2>
    Saklama Alanları
  </h2>
  <!-- <a [routerLink]="['/setting/add-storage']"> -->
  <a (click)="addNewStorage()">
    <i class="fa fa-plus"></i>
    Yeni Saklama Alanı Ekle
  </a>
</div>

<div class="content">
  <div *ngFor="let storage of storages" class="storage">
    <div class="title">
        <h4>{{storage.name}}</h4>
        <span>
          <button (click)="addNewFolder(storage.id)" ><i class="fa fa-plus"></i></button>
          <button (click)="deleteStorage(storage)"><i class="fa fa-trash"></i></button>
        </span>
    </div>
    <div class="folders">
        <app-folder-item (deletedFolder)="deletedFolder($event)" *ngFor="let item of storage.folders" [folder]="item"></app-folder-item>
    </div>
  </div>
</div>