:host{
    display: flex;
    flex-direction: column;
    width: 300px;;
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        padding: 5px 15px;

        .search-box{
            margin-right: 10px;
        }
    }

    .note-item-list{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-self: stretch;
        overflow-y: auto;
    }
}

::-webkit-scrollbar-thumb {
  background: #00796b;

}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}