:host{
    display: flex;
    flex-direction: column;

    .title {
      padding: 10px;
      border-bottom: 1px solid #e5e5e5;
    }

    .form{
        padding: 15px 0;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        flex-direction: column;
        .input-group{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            & > *{
                padding: 5px;
            }
            span{
                width: 20%;
                text-align: right;
            }
            div{
                width: 80%;
            }
        }
    }
    .footer{
        padding: 10px 0;
        text-align: right;
     
        button{
            padding: 5px 10px;
               background: #4caf50;
               color: white;
               cursor: pointer;
        }
    }
}


